body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
nav {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d3748;
    /* bg-slate-800 */
}

nav h1 {
    font-size: 1.25rem;
    color: #fff;
}

nav a {
    color: #fff;
    /* text-white */
    text-decoration: none;
    margin: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #4a5568;
}

nav a:hover {
    text-decoration: underline;
}

.max-width-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(30 41 59);
    text-align: center;
    width: 36rem;
    border-radius: 8px;
    justify-content: center;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.max-width-container h1 {
    font-size: 1.875rem;
    color: #fff;
}
form {
    margin-top: 1.5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 2px;
    color: #fff;
    /* text-white */
}

form input {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #4a5568;
    color: #fff;
    border: none;
    margin-bottom: 1rem;
    border-radius: 8px;
}

form .input-group {
    width: 50%;
}

form button {
    padding: 1rem 2rem;
    background-color: #4299e1;
    /* bg-sky-600 */
    color: #fff;
    /* text-white */
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

form button:hover {
    background-color: #2c5282;
    /* darker shade of bg-sky-600 */
}
footer {
    padding: 1.5rem 2rem;
    background-color: #1a202c;
    color: #fff;
    text-align: center;
}